apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: movie-api-ingress
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: movie-api-service
              port:
                number: 80
