apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-api-deployment
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: movie-api
          image: ghcr.io/twilight4/api-node
          env:
            - name: NODE_ENV
              value: production
