k8s-cluster-local/kind-config.yaml
helm/charts/*.tgz
terraform/envs/staging/.terraform.lock.hcl
terraform/envs/staging/.terraform/
terraform/envs/production/.terraform.lock.hcl
terraform/envs/production/.terraform/
terraform/terraform.tfplan