version: "3"

env:
  BORDER: double
  BORDER_FOREGROUND: "212"
  PADDING: "1 1"
  MARGIN: "1 1"
  NODE_VERSION_1: 0.1.0

tasks:
  argocd:02-install-staging:
    cmds:
      - |
        helm upgrade --install argocd-application \
        ./argocd-application/ \
        --namespace staging \
        --values ./argocd-application/values-staging.yaml \
        --create-namespace
    desc: "Install argocd-application chart with staging values file"
  argocd:02-install-production:
    cmds:
      - |
        helm upgrade --install argocd-application \
        ./argocd-application/ \
        --namespace production \
        --values ./argocd-application/values.yaml \
        --create-namespace
    desc: "Install argocd-application chart with production values file"
  argocd:01-render-staging:
    cmds:
      - helm template ./argocd-application --values=./argocd-application/values-staging.yaml  | yq
    desc: "Render chart yaml with staging values file"
  argocd:01-render-production:
    cmds:
      - helm template ./argocd-application --values=./argocd-application/values.yaml  | yq
    desc: "Render chart yaml with production values file"
  argocd:03-uninstall-staging:
    cmds:
      - helm uninstall argocd-application --namespace staging
      - helm uninstall argocd --namespace argocd
    desc: "Uninstall chart with staging values file"
  argocd:03-uninstall-production:
    cmds:
      - helm uninstall argocd-application --namespace production
      - helm uninstall argocd --namespace argocd
    desc: "Uninstall chart with production values file"
  argocd:00-install-argocd-applicationset:
    cmds:
      - |
        helm repo add argo https://argoproj.github.io/argo-helm
        helm repo update
        helm upgrade --install argocd argo/argo-cd \
        --namespace argocd \
        --version 7.7.11 \
        --create-namespace
    desc: "Add ArgoCD repository and install ArgoCD"
  chart:07-rollback:
    cmds:
      - helm rollback api-node-helm-chart
    desc: "Rollback api-node-helm-chart chart"
  chart:03-list:
    cmds:
      - helm list -A
    desc: "List Helm releases"
  chart:06-get-values:
    cmds:
      - helm get values api-node-helm-chart
    desc: "Get values for api-node-helm-chart release"
  chart:05-get-manifests:
    cmds:
      - helm get manifest api-node-helm-chart
    desc: "Get manifests for api-node-helm-chart release"
  chart:02-install-staging:
    cmds:
      - helm upgrade --install api-node-helm-chart ./api-node-helm-chart/ --values=./api-node-helm-chart/values-staging.yaml --namespace staging --create-namespace
    desc: "Install chart with staging values file"
  chart:02-install-production:
    cmds:
      - helm upgrade --install api-node-helm-chart ./api-node-helm-chart/ --values=./api-node-helm-chart/values.yaml --namespace production --create-namespace
    desc: "Install chart with production values"
  chart:04-uninstall-staging:
    cmds:
      - helm uninstall api-node-helm-chart --namespace staging
    desc: "Uninstall chart with staging values"
  chart:04-uninstall-production:
    cmds:
      - helm uninstall api-node-helm-chart --namespace production
    desc: "Uninstall chart with production values file"
  chart:01-render-staging:
    cmds:
      - helm template ./api-node-helm-chart --values=./api-node-helm-chart/values-staging.yaml  | yq
    desc: "Render chart yaml with staging values file"
  chart:01-render-production:
    cmds:
      - helm template ./api-node-helm-chart --values=./api-node-helm-chart/values.yaml  | yq
    desc: "Render chart yaml with production values file"

