version: "3"

tasks:
  01-render-staging:
    cmds:
      - kubectl kustomize ../overlays/staging | yq
    desc: "Render resource yaml with staging values"

  01-render-production:
    cmds:
      - kubectl kustomize ../overlays/production | yq
    desc: "Render resource yaml with production values"

  03-delete-staging:
    cmds:
      - kubectl delete -k ../overlays/staging
      - kubectl delete namespace staging
      - kubectl delete namespace ingress-nginx
    desc: "Render resource yaml with staging values"

  03-delete-production:
    cmds:
      - kubectl delete -k ../overlays/production
      - kubectl delete namespace ingress-nginx
    desc: "Render resource yaml with production values"

  02-deploy-staging:
    cmds:
      - kubectl apply -f api-node/namespaces/
      - kubectl create namespace staging
      - kubectl apply -k ../overlays/staging
    desc: "Deploy staging configuration"

  02-deploy-production:
    cmds:
      - kubectl apply -f api-node/namespaces/
      - kubectl create namespace production
      - kubectl apply -k ../overlays/production
    desc: "Deploy production configuration"
