version: "3"

env:
  BORDER: double
  BORDER_FOREGROUND: "212"
  PADDING: "1 1"
  MARGIN: "1 1"
  NODE_VERSION_1: 0.1.0

tasks:
  install-monitoring:
    cmds:
      - helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
      - helm repo add grafana https://grafana.github.io/helm-charts
      - helm repo update
      - helm upgrade --install kube-prometheus-stack prometheus-community/kube-prometheus-stack --values=./kube-prometheus-stack/values.yaml --namespace monitoring --create-namespace
      - helm upgrade --install loki grafana/loki --namespace monitoring --create-namespace
      - helm upgrade --install alloy grafana/alloy --values=./grafana-alloy/values.yaml --namespace observability --create-namespace
    desc: "Install kube-prometheus-stack, loki and alloy helm charts"
  uninstall-monitoring:
    cmds:
      - helm uninstall kube-prometheus-stack --namespace monitoring
      - helm uninstall loki --namespace monitoring
      - helm uninstall alloy --namespace observability
      - kubectl delete crd alertmanagerconfigs.monitoring.coreos.com
      - kubectl delete crd alertmanagers.monitoring.coreos.com
      - kubectl delete crd podmonitors.monitoring.coreos.com
      - kubectl delete crd probes.monitoring.coreos.com
      - kubectl delete crd prometheusagents.monitoring.coreos.com
      - kubectl delete crd prometheuses.monitoring.coreos.com
      - kubectl delete crd prometheusrules.monitoring.coreos.com
      - kubectl delete crd scrapeconfigs.monitoring.coreos.com
      - kubectl delete crd servicemonitors.monitoring.coreos.com
      - kubectl delete crd thanosrulers.monitoring.coreos.com
    desc: "Uninstall kube-prometheus-stack helm chart"
