grafana:
  enabled: true
  adminPassword: admin
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: ClusterIP
  ingress:
    enabled: false
  persistence:
    enabled: true
    storageClassName: standard-rwo
    accessModes:
      - ReadWriteOnce
    size: 3Gi

prometheus:
  enabled: true
  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: true
    enableRemoteWriteReceiver: true
    # Prevent duplicate scraping (Alloy scrapes apps, Prometheus scrapes infra)
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: true
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 2
        memory: 4Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi

# -------- ARGOCD METRICS  --------
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

# -------- NODE EXPORTER (system metrics) --------
nodeExporter:
  enabled: true

# -------- KUBELET / cADVISOR (container metrics) --------
kubelet:
  enabled: true
  serviceMonitor:
    enabled: true
    # these endpoints are CRITICAL for cAdvisor
    endpoints:
      - port: https-metrics
        scheme: https
        tlsConfig:
          insecureSkipVerify: true
      - port: https-metrics
        path: /metrics/cadvisor
        scheme: https
        tlsConfig:
          insecureSkipVerify: true
