version: "3"

env:
  BORDER: double
  BORDER_FOREGROUND: "212"
  PADDING: "1 1"
  MARGIN: "1 1"
  NODE_VERSION_1: 0.1.0

tasks:
  ### OCI registry commands
  oci:09-search-repo:
    cmds:
      - helm search repo bitnami/api-node --versions
    desc: "Search Bitnami repository for node-app"
  oci:01-login-oci-registry:
    cmds:
      - cmd: gum style "Use your dockerhub username and password!"
        silent: true
      - "helm registry login registry-1.docker.io"
    desc: Login to OCI registry
  oci:05-list-registry:
    cmds:
      - oras repo tags registry-1.docker.io/twilight4/api-node
    desc: "List tags in the OCI registry"
  oci:02-build:
    cmds:
      - helm package ./api-node-helm-chart
    desc: "Bundle helm chart as a .tgz OCI image"
  oci:03-push:
    cmds:
      - helm push movie-review-0.1.0.tgz oci://registry-1.docker.io/twilight4
    desc: "Push the helm chart to an oci registry"
  oci:04-build-push:
    cmds:
      - task: 04-build
      - task: 05-push
    desc: "Build & Push the helm chart to an oci registry"
  oci:06-pull:
    cmds:
      - helm pull oci://registry-1.docker.io/twilight4/movie-review --version=${NODE_VERSION_1}
    desc: "Pull movie-review chart from Dockerhub repository"
  oci:07-untar:
    cmds:
      - tar -xzf movie-review-${NODE_VERSION_1}.tgz
    desc: "Untar movie-review chart"
  oci:08-show-values:
    cmds:
      - helm show values oci://registry-1.docker.io/twilight4/movie-review --version=${NODE_VERSION_1}
    desc: "Show values for movie-review chart"
  ### Local release commands
  argocd:02-install-staging:
    cmds:
      - |
        helm upgrade --install argocd-application ./argocd-application/ \
        --namespace argocd \
        --version 7.7.11 \
        --values values-staging.yaml
        --create-namespace
    desc: "Install argocd-application chart with staging values file"
  argocd:02-install-production:
    cmds:
      - |
        helm upgrade --install argocd-application ./argocd-application/ \
        --namespace argocd \
        --version 7.7.11 \
        --values values.yaml
        --create-namespace
    desc: "Install argocd-application chart with production values file"
  argocd:01-render-staging:
    cmds:
      - helm template ./argocd-application --values=./argocd-application/values-staging.yaml  | yq
    desc: "Render chart yaml with staging values file"
  argocd:01-render-production:
    cmds:
      - helm template ./argocd-application --values=./argocd-application/values.yaml  | yq
    desc: "Render chart yaml with production values file"
  argocd:03-uninstall-staging:
    cmds:
      - helm uninstall argocd-application --namespace staging
    desc: "Uninstall chart with staging values file"
  argocd:03-uninstall-production:
    cmds:
      - helm uninstall argocd-application --namespace production
    desc: "Uninstall chart with production values file"
  chart:08-add-argocd-repo:
    cmds:
      - |
        helm repo add argo https://argoproj.github.io/argo-helm
        helm repo update
    desc: "Add ArgoCD repository and update"
  chart:07-rollback:
    cmds:
      - helm rollback api-node-helm-chart
    desc: "Rollback api-node-helm-chart chart"
  chart:03-list:
    cmds:
      - helm list -A
    desc: "List Helm releases"
  chart:06-get-values:
    cmds:
      - helm get values api-node-helm-chart
    desc: "Get values for api-node-helm-chart release"
  chart:05-get-manifests:
    cmds:
      - helm get manifest api-node-helm-chart
    desc: "Get manifests for api-node-helm-chart release"
  chart:02-install-staging:
    cmds:
      - kubectl create namespace ingress-nginx
      - helm upgrade --install api-node-helm-chart ./api-node-helm-chart/ --values=./api-node-helm-chart/values-staging.yaml --namespace staging --create-namespace
    desc: "Install chart with staging values file"
  chart:02-install-production:
    cmds:
      - kubectl create namespace ingress-nginx
      - helm upgrade --install api-node-helm-chart ./api-node-helm-chart/ --values=./api-node-helm-chart/values.yaml --namespace production --create-namespace
    desc: "Install chart with production values"
  chart:04-uninstall-staging:
    cmds:
      - kubectl delete namespace ingress-nginx
      - helm uninstall api-node-helm-chart --namespace staging
    desc: "Uninstall chart with staging values"
  chart:04-uninstall-production:
    cmds:
      - kubectl delete namespace ingress-nginx
      - helm uninstall api-node-helm-chart --namespace production
    desc: "Uninstall chart with production values file"
  chart:01-render-staging:
    cmds:
      - helm template ./api-node-helm-chart --values=./api-node-helm-chart/values-staging.yaml  | yq
    desc: "Render chart yaml with staging values file"
  chart:01-render-production:
    cmds:
      - helm template ./api-node-helm-chart --values=./api-node-helm-chart/values.yaml  | yq
    desc: "Render chart yaml with production values file"

