apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: movie-api
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: movie-api
  namespaceSelector:
    matchNames:
      - staging
  endpoints:
    - port: http
      path: /metrics
