configs:
  params:
    server.insecure: true # use false + ingress TLS in prod

server:
  service:
    type: ClusterIP

controller:
  metrics:
    enabled: true

repoServer:
  metrics:
    enabled: true

applicationSet:
  enabled: true
