apiVersion: v1
kind: Service
metadata:
  name: movie-api-service
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  selector:
    app: movie-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000

