apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: dev-
namespace: dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml
  - path: patch-configmap.yaml

labels:
  - pairs:
      env: dev

#images:
#  - name: ghcr.io/twilight4/api-node
#    newTag: dev-latest
