name: image-cd

on:
  push:
    branches: ["main"]
    tags: "[0-9]*.[0-9]*.[0-9]*"
    paths:
      # only rebuild when app code changes
      - "app/**/*"
      # exclude these files
      - "!app/README.md"
      - "!app/Taskfile.yaml"
      - "!app/api-node/Taskfile.yaml"
  workflow_dispatch:
